[Desktop Entry]
Encoding=UTF-8
Name=pycharm
Exec=pycharm
Icon=/media/linuxdata/opt-icon/pycharm.png
Terminal=false
Type=Application
Categories=Development;
