[Unit]
Description=springboot wb000
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/data/server/springboot/wb000/temp/
PrivateTmp=true
Restart=always
Type=simple
ExecStart=/bin/bash /data/server/springboot/wb000/servicerun.sh 
ExecStop=/bin/bash /data/server/springboot/wb000/stopspringboot.sh


[Install]
WantedBy=multi-user.target
